################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskSchedulerQuartz/bin/Debug/net8.0
/TaskSchedulerQuartz/obj
/TaskSchedulerQuartz/Properties
/.vs
